body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}

.centered-form {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100vh;
}

.centered-form h2 {
    margin-top: 0;
    text-align: center;
}

.centered-form label,
.centered-form input,
.centered-form button {
    display: block;
    margin-bottom: 10px;
}

.centered-form input,
.centered-form button {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.centered-form button {
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

.centered-form button:hover {
    background-color: #0056b3;
}